    <div class="content-default">
      <div id="image-list">
        <!-- Search criteria -->
        <div id="gallery-filter">
          <form action="/image-gallery" method="get">
            <!-- Tags -->
              <div class="header">Tags</div>
              <select name="tags" size="5" multiple="multiple">
                <!-- TMPL_LOOP tags -->
                  <!-- TMPL_IF selected -->
                  <option value="<!-- TMPL_VAR tag -->" selected="selected"><!-- TMPL_VAR tag --></option>
                  <!-- TMPL_ELSE -->
                  <option value="<!-- TMPL_VAR tag -->"><!-- TMPL_VAR tag --></option>
                  <!-- /TMPL_IF -->
                <!-- /TMPL_LOOP -->
              </select>
              <!-- Submit button -->
              <div id="filter-button"><input type="submit" value="Filter images"></div>
            <!-- End of tags -->
          </form>
        </div>
        <!-- Images resulting from the search -->
        <!-- TMPL_LOOP images -->
        <div class="gallery-image">
          <a href="<!-- TMPL_VAR link -->"><img class="gallery-image" src="<!-- TMPL_VAR url -->"></a>
          <div class="gallery-image-text"><!-- TMPL_VAR title --></div>
        </div>
        <!-- /TMPL_LOOP -->
      </div>
    </div>
