  <div class="task-grid">
    <div class="task_description"><!-- TMPL_VAR description --></div>

    <div id="importance-name" class="taskattr_name">Importance:</div>
    <div id="importance-value" class="taskattr_value"><!-- TMPL_VAR importance --></div>

    <div id="urgency-name" class="taskattr_name">Urgency:</div>
    <div id="urgency-value" class="taskattr_value"><!-- TMPL_VAR urgency --></div>

    <div id="scale-name" class="taskattr_name">Scale:</div>
    <div id="scale-value" class="taskattr_value"><!-- TMPL_VAR scale --></div>

    <div id="status-name" class="taskattr_name">Status:</div>
    <div id="status-value" class="taskattr_value"><!-- TMPL_VAR status --></div>
  </div>
