<html>
<!-- TMPL_INCLUDE "templates/head.tmpl" -->
  <body>
    <h1>File upload Failed</h1>
    <div id="pagegrid">
    <!-- TMPL_INCLUDE "templates/navbar_top.html" -->
    <div>Sorry, but there was a problem with uploading the file <!-- TMPL_VAR filename -->.</div>
    <div><!-- TMPL_VAR reason --></div>
    </div>
  </body>
</html>
