<!DOCTYPE HTML>
<html>
  <head>
    <title><!-- TMPL_VAR resourcetype --> <!-- TMPL_VAR title --></title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/display.css">
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/display.js"></script>
  </head>

  <body>
    <h1><!-- TMPL_VAR resourcetype --> <!-- TMPL_VAR title --></h1>
    <div id="pagegrid">
    <!-- Navigation bar -->
      <div id="navigation">
        <a class="nav-item-1" href='/search'>Search</a>
        <a class="nav-item-2" href="/editresource/<!-- TMPL_VAR resourcetype -->/<!-- TMPL_VAR uid -->">Edit</a>
        <a class="nav-item-3" href="/create">Create a new item</a>
      </div>
      <!-- End navigation bar -->

      <!-- Content - must already be wrapped in a suitable div -->
      <!-- TMPL_VAR content -->
      <!-- End content -->

      <div id="metadetails">
        <!-- Tags -->
        <h2 id="tags_header">Tags</h2>
        <ul id="taglist"></ul>
        <!-- TMPL_LOOP tags -->
            <li><!-- TMPL_VAR uid --></li>
        <!-- /TMPL_LOOP -->
        <!-- Groups -->
        <h2 id="groups_header">Groups</h2>
        <ul id="grouplist">
          <!-- TMPL_LOOP groups -->
          <li><!-- TMPL_VAR uid --></li>
          <!-- /TMPL_LOOP -->
        </ul>
      </div>
      <div id="taglink"><a href="/edit_links/<!-- TMPL_VAR resourcetype -->/<!-- TMPL_VAR uid -->">Edit tags and groups</a></div>


      <!-- Outbound links -->
      <div>
        <h2 id="outbound_links">Outbound links</h2>
        <ul id="outbound_links">
          <!-- TMPL_LOOP outbound -->
          <li>
            <a href="/display/<!-- TMPL_VAR resourcetype -->/<!-- TMPL_VAR uid -->">
              /<!-- TMPL_VAR relationship -->/<!-- TMPL_VAR resourcetype -->/<!-- TMPL_VAR uid --></a>
          </li>
          <!-- /TMPL_LOOP -->
        </ul>
      </div>

    <!-- Page-grid ends -->
    </div>
  </body>
</html>
