<!DOCTYPE HTML>
<!-- Relies on common.css and display.css -->
<html>
<!-- TMPL_INCLUDE "head.tmpl" -->
  <body>
    <div id="pagegrid">
    <h1 class="title"><!-- TMPL_VAR resourcetype --> <!-- TMPL_VAR title --></h1>
    <!-- TMPL_INCLUDE "navbar_top.html" -->

      <!-- Content - must already be wrapped in a suitable div -->
      <!-- TMPL_VAR content -->
      <!-- End content -->

      <!-- Tags -->
      <h2 id="tags_header" class="page-bottom-title">Tags</h2>
      <ul id="taglist" class="page-bottom-list">
      <!-- TMPL_LOOP tags -->
          <li><!-- TMPL_VAR uid --></li>
      <!-- /TMPL_LOOP -->
      </ul>

      <!-- Groups -->
      <h2 id="groups_header" class="page-bottom-title">Groups</h2>
      <ul id="grouplist" class="page-bottom-list">
        <!-- TMPL_LOOP groups -->
        <li><!-- TMPL_VAR uid --></li>
        <!-- /TMPL_LOOP -->
      </ul>

      <!-- Outbound links -->
      <h2 id="outbound_links" class="page-bottom-title">Outbound links</h2>
      <ul id="outbound_links" class="page-bottom-list">
        <!-- TMPL_LOOP outbound -->
        <li>
          <a href="/display/<!-- TMPL_VAR resourcetype -->/<!-- TMPL_VAR uid -->">
            /<!-- TMPL_VAR relationship -->/<!-- TMPL_VAR resourcetype -->/<!-- TMPL_VAR uid --></a>
        </li>
        <!-- /TMPL_LOOP -->
      </ul>

      <div id="taglink">
        <a id="taglink" href="/edit_links/<!-- TMPL_VAR resourcetype -->/<!-- TMPL_VAR uid -->">Edit tags, groups and links</a>
      </div>

    <!-- Page-grid ends -->
    </div>
  </body>
</html>
