<!DOCTYPE HTML>
<!-- Depends on tasks_search.css -->
<html>
<!-- TMPL_INCLUDE "head.tmpl" -->
<body>
  <!-- Start of grid layout -->
  <div id="pagegrid">
  <h1>Webcat tasks page</h1>
  <!-- TMPL_INCLUDE "navbar_top.html" -->

  <!-- Start of form -->
  <form action="/tasks" method="get" class="formgrid" id="searchform">

    <!-- Header row -->
    <div id="tags-header">Available tags</div>
    <div id="criteria-header">Refine your search</div>

    <!-- Results row -->
    <!-- Tags -->
    <div id="tags-list">
      <select name="tags" id="tags" size="15" multiple="multiple">
      <!-- TMPL_LOOP tags -->
        <!-- TMPL_IF selected -->
        <option value="<!-- TMPL_VAR tag -->" selected="selected"><!-- TMPL_VAR tag --></option>
        <!-- TMPL_ELSE -->
        <option value="<!-- TMPL_VAR tag -->"><!-- TMPL_VAR tag --></option>
        <!-- /TMPL_IF -->
      <!-- /TMPL_LOOP -->
      </select>
    </div>
    <!-- End of tags -->

    <!-- Search refinement -->
    <div id="uid-regex-name" class="criteria-name">UID regex</div>
    <div id="uid-regex-value" class="criteria-value">
        <input type="text" name="uid_regex" value="<!-- TMPL_VAR uid-regex -->" size=30></input>
    </div>

    <!-- Importance -->
    <div id="importance-name" class="criteria-name">Importance</div>
    <div id="importance-value" class="criteria-value">
      <select name="importance" id="importance" size="1">
        <option value="">Any</option>
        <!-- TMPL_LOOP importance -->
          <!-- TMPL_IF selected -->
          <option value="<!-- TMPL_VAR name -->" selected="selected"><!-- TMPL_VAR name --></option>
          <!-- TMPL_ELSE -->
          <option value="<!-- TMPL_VAR name -->"><!-- TMPL_VAR name --></option>
          <!-- /TMPL_IF -->
        <!-- /TMPL_LOOP -->
      </select>
    </div>

    <!-- Urgency -->
    <div id="urgency-name" class="criteria-name">Urgency</div>
    <div id="urgency-value" class="criteria-value">
      <select name="urgency" id="urgency" size="1">
        <option value="">Any</option>
        <!-- TMPL_LOOP urgency -->
          <!-- TMPL_IF selected -->
          <option value="<!-- TMPL_VAR name -->" selected="selected"><!-- TMPL_VAR name --></option>
          <!-- TMPL_ELSE -->
          <option value="<!-- TMPL_VAR name -->"><!-- TMPL_VAR name --></option>
          <!-- /TMPL_IF -->
        <!-- /TMPL_LOOP -->
      </select>
    </div>

    <!-- Scale -->
    <div id="scale-name" class="criteria-name">Scale</div>
    <div id="scale-value" class="criteria-value">
      <select name="scale" id="scale" size="1">
        <option value="">Any</option>
        <!-- TMPL_LOOP scale -->
          <!-- TMPL_IF selected -->
          <option value="<!-- TMPL_VAR name -->" selected="selected"><!-- TMPL_VAR name --></option>
          <!-- TMPL_ELSE -->
          <option value="<!-- TMPL_VAR name -->"><!-- TMPL_VAR name --></option>
          <!-- /TMPL_IF -->
        <!-- /TMPL_LOOP -->
      </select>
    </div>

    <!-- Statuses -->
    <div id="status-name" class="criteria-name">Status</div>
    <div id="status-value" class="criteria-value">
      <select name="status" id="status" size="5" multiple="multiple">
        <option value="">Any</option>
        <!-- TMPL_LOOP statuses -->
          <!-- TMPL_IF selected -->
          <option value="<!-- TMPL_VAR name -->" selected="selected"><!-- TMPL_VAR name --></option>
          <!-- TMPL_ELSE -->
          <option value="<!-- TMPL_VAR name -->"><!-- TMPL_VAR name --></option>
          <!-- /TMPL_IF -->
        <!-- /TMPL_LOOP -->
      </select>
    </div>

    <!-- Submit button -->
    <div id=submit-row>
        <input type="submit" value="Search" id="searchbutton">
    </div>

  </form>
  <!-- End of form -->

  <div id="searchresults">
  <h2>Search results</h2>

  <table class="results-list">
    <tr>
      <th>Status</th>
      <th>Urgency</th>
      <th>Importance</th>
      <th>Scale</th>
      <th>Title</th>
      <th>Deadline</th>
    </tr>
    <!-- TMPL_LOOP results -->
    <tr>
      <td class="results-list"><!-- TMPL_VAR status --></td>
      <td class="results-list"><!-- TMPL_VAR urgency --></td>
      <td class="results-list"><!-- TMPL_VAR importance --></td>
      <td class="results-list"><!-- TMPL_VAR scale --></td>
      <td class="results-list"><a href="display/Tasks/<!-- TMPL_VAR uid -->"><!-- TMPL_VAR title --></a></td>
      <td class="results-list"><!-- TMPL_VAR deadline --></td>
    </tr>
    <!-- /TMPL_LOOP -->
  </table>
  <!-- End search results -->
  </div>

  <!-- End of grid -->
  </div>

</body>
</html>
