      <div class="content-default">
        <h2 id="title-attributes">Item attributes</h2>
        <table id="table-attributes">
        <!-- TMPL_LOOP attributes -->
        <tr>
            <td class="attrnames"><!-- TMPL_VAR attrname --></td>
            <td class="attrvals"><!-- TMPL_VAR attrval --></td>
        </tr>
        <!-- /TMPL_LOOP -->
        </table>
      </div>
