    <div class="content-default">
      <ul>
        <li>Importance: <!-- TMPL_VAR importance --></li>
        <li>Urgency: <!-- TMPL_VAR urgency --></li>
        <li>Scale: <!-- TMPL_VAR scale --></li>
        <li>Status: <!-- TMPL_VAR status --></li>
      </ul>
      <p><!-- TMPL_VAR description --></p>
    </div>
