    <div class="content-default">
      <!-- TMPL_LOOP images -->
      <a href="<!-- TMPL_VAR link -->"><img class="gallery-image" src="<!-- TMPL_VAR url -->" alt="<!-- TMPL_VAR title -->"></a>
      <!-- /TMPL_LOOP -->
    </div>
