<!DOCTYPE HTML>
<html>
<!-- TMPL_INCLUDE "templates/head.tmpl" -->
  <body>
    <h1>File upload</h1>
    <div id="pagegrid">
    <!-- TMPL_INCLUDE "templates/navbar_top.html" -->
      <form action="/files" method="post" class="uploadform" enctype="multipart/form-data">
        <div id="filename-title">File name:</div>
        <input id="filename" type="text" name="name"></input>
        <div id="file-title">File:</div>
        <input id="file" type="file" name="file"></input>
        <input id="submit" type="submit" name="Upload" value="Upload"></input>
      </form>
    </div>
  </body>
</html>
