      <div class="content-default">
        <h2 id="title-attributes">Item attributes</h2>
        <!-- TMPL_LOOP attributes -->
        <div class="attrnames"><!-- TMPL_VAR attrname --></div>
        <div class="attrvals"><!-- TMPL_VAR attrval --></div>
        <!-- /TMPL_LOOP -->
      </div>
