<!DOCTYPE HTML>
<!-- Depends on create.css -->
<html>
<!-- TMPL_INCLUDE "head.tmpl" -->
<body>
  <!-- Start of grid layout -->
  <div id="pagegrid">
  <h1>Webcat create page</h1>
  <!-- TMPL_INCLUDE "navbar_top.html" -->
    <form action="/create" method="post" class="formgrid" id="createform">
      <!-- UID -->
      <div id="header-uid" class="header">UID/title:&nbsp;</div>
      <input type="text" name="uid" id="input-uid" value="<!-- TMPL_VAR uid -->"></input>
      <!-- Resource types -->
      <div class="header" id="header-resourcetypes">Resource type</div>
      <select name="resourcetype" id="resourcetype" size="15">
        <!-- TMPL_LOOP schema -->
          <!-- TMPL_IF selected -->
          <option value="<!-- TMPL_VAR name -->" selected="selected"><!-- TMPL_VAR name --></option>
          <!-- TMPL_ELSE -->
          <option value="<!-- TMPL_VAR name -->"><!-- TMPL_VAR name --></option>
          <!-- /TMPL_IF -->
        <!-- /TMPL_LOOP -->
      </select>
      <!-- End of resource types -->

      <!-- Javascript-updated attribute management -->
      <div class="header" id="header-attributes">Attributes</div>
      <div class="attrnames" id="attrnames"></div>
      <div class="attrvals" id="attrvals"></div>
      <!-- Submit button -->
      <input type="submit" value="Create" id="createbutton">
    </form>

  <!-- End of grid -->
  </div>

</body>
</html>
