  <div class="task-grid">
    <h1><!-- TMPL_VAR title --></h1>
    <div id="mimetype-name" class="fileattr_name">Mime-type</div>
    <div id="mimetype-value" class="fileattr_value"><!-- TMPL_VAR mimetype --></div>
    <div id="files_image">
      <img id="files_image" src="<!-- TMPL_VAR image-url -->">
    </div>
    <div id="notes" class="notes"><!-- TMPL_VAR notes --></div>
  </div>

