    <div class="content-default">
      <div id="image-list">
        <!-- TMPL_LOOP images -->
        <div class="gallery-image">
          <a href="<!-- TMPL_VAR link -->"><img class="gallery-image" src="<!-- TMPL_VAR url -->"></a>
          <div class="gallery-image-text"><!-- TMPL_VAR title --></div>
        </div>
        <!-- /TMPL_LOOP -->
      </div>
    </div>
