<!DOCTYPE HTML>
<html>
<!-- TMPL_INCLUDE "head.tmpl" -->
  <body>
    <div id="pagegrid">
    <h1><!-- TMPL_VAR title --></h1>
    <!-- TMPL_INCLUDE "navbar_top.html" -->
      <!-- Content - must already be wrapped in a suitable div -->
      <form method="post" action="/edit_links<!-- TMPL_VAR resource -->" class="formgrid">
        <!-- Is this hidden field actually needed?
        <input type="hidden" name="resource" value="<!-- TMPL_VAR resource -->">
        -->
        <div id="edit-membership">

          <div id="add_tags">
            <h3>Add tags</h3>
            <select multiple="multiple" name="add-tags" size="10">
              <!-- TMPL_LOOP add-tags -->
              <option name="<!-- TMPL_VAR tag -->"><!-- TMPL_VAR tag --></option>
              <!-- /TMPL_LOOP -->
            </select>
          </div>

          <div id="remove_tags">
            <h3>Remove tags</h3>
            <select multiple="multiple" name="remove-tags" size="10">
              <!-- TMPL_LOOP remove-tags -->
              <option name="<!-- TMPL_VAR tag -->"><!-- TMPL_VAR tag --></option>
              <!-- /TMPL_LOOP -->
            </select>
          </div>

          <div id="link-resources">
            <h3>Link to other resources</h3>
            <p>Space-separated list of resource paths, leading with the relationship:</p>
            <input type="text" id="resource_links" name="resource_links" value="">
          </div>

          <input type="submit" id="update_membership" value="Update tags">

        </div>
      </form>
      <!-- End content -->

    <!-- Page-grid ends -->
    </div>
  </body>
</html>
