<!DOCTYPE HTML>
<!-- Relies on edit.css -->
<html>
<!-- TMPL_INCLUDE "templates/head.tmpl" -->
  <body>
    <div id="pagegrid">
    <h1 class="title">Edit wikipage: <!-- TMPL_VAR title --></h1>
    <!-- TMPL_INCLUDE "templates/navbar_top.html" -->

    <!-- Edit attributes -->
    <form class="formgrid" action="/editresource/wikipages/<!-- TMPL_VAR uid -->" method="post">
      <div class="wikititle-title">Title:</div>
      <input class="wikititle-value" name="title" value="<!-- TMPL_VAR title -->">
      <textarea id="wikipage-content" name="text" cols="100" rows="25"><!-- TMPL_VAR content --></textarea>
      <div id=submit-row>
        <input id="wikipage-submit" type="submit" value="Update"></input>
      </div>
    </form>
    <!-- End edit attributes -->
    </div>
  </body>
</html>

