<!DOCTYPE HTML>
<html>
  <head>
    <title>Add tags to <!-- TMPL_VAR resource --></title>
    <link rel="stylesheet" type="text/css" href="/static/common.css">
    <link rel="stylesheet" type="text/css" href="/static/display.css">
    <script src="/static/jquery-3.3.1.js"></script>
  </head>

  <body>
    <h1>Add tags to <!-- TMPL_VAR resource --></h1>
    <div id="pagegrid">
    <!-- Navigation bar -->
      <div id="navigation">
        <a class="nav-item-1" href='/search'>Search</a>
        <a class="nav-item-2" href="/display/<!-- TMPL_VAR resource -->">View <!-- TMPL_VAR resource --></a>
        <a class="nav-item-3" href="/create">Create a new item</a>
      </div>
      <!-- End navigation bar -->

      <!-- Content - must already be wrapped in a suitable div -->
      <form method="post" action="/edit_links<!-- TMPL_VAR resource -->">
        <div id="edit-membership">

          <div id="add_tags">
            <h3>Add tags</h3>
            <select multiple="multiple" name="add-tags">
              <!-- TMPL_LOOP add-tags -->
              <option name="<!-- TMPL_VAR tag -->"><!-- TMPL_VAR tag --></option>
              <!-- /TMPL_LOOP -->
            </select>
          </div>

          <div id="remove_tags">
            <h3>Remove tags</h3>
            <select multiple="multiple" name="remove-tags">
              <!-- TMPL_LOOP remove-tags -->
              <option name="<!-- TMPL_VAR tag -->"><!-- TMPL_VAR tag --></option>
              <!-- /TMPL_LOOP -->
            </select>
          </div>

          <div id="add_groups">
            <h3>Add groups</h3>
            <select multiple="multiple" name="add-groups">
              <!-- TMPL_LOOP add-groups -->
              <option name="<!-- TMPL_VAR group -->"><!-- TMPL_VAR group --></option>
              <!-- /TMPL_LOOP -->
            </select>
          </div>

          <div id="remove-groups">
            <h3>Remove groups</h3>
            <select multiple="multiple" name="remove-groups">
              <!-- TMPL_LOOP remove-groups -->
              <option name="<!-- TMPL_VAR group -->"><!-- TMPL_VAR group --></option>
              <!-- /TMPL_LOOP -->
            </select>
          </div>

          <input type="submit" id="update_membership" value="Update tags and groups">

          <input type="hidden" name="resource" value="<!-- TMPL_VAR resource -->">

        </div>
      </form>
      <!-- End content -->

    <!-- Page-grid ends -->
    </div>
  </body>
</html>
