    <!-- Navigation bar -->
      <div id="navigation">
        <a class="nav-item-1" href='/search'>Search</a>
        <!-- TMPL_IF resourcetype -->
            <!-- TMPL_IF uid -->
        <a class="nav-item-2" href="/editresource/<!-- TMPL_VAR resourcetype -->/<!-- TMPL_VAR uid -->">Edit</a>
            <!-- TMPL_ELSE -->
        <div class="nav-item-2">Edit</div>
            <!-- /TMPL_IF -->
        <!-- TMPL_ELSE -->
        <div class="nav-item-2">Edit</div>
        <!-- /TMPL_IF -->
        <a class="nav-item-3" href="/create">Create a new item</a>
        <a class="nav-item-4" href="/Tasks">Tasks</a>
        <a class="nav-item-5" href="/files-upload">Files</a>
        <a class="nav-item-6" href="/image-gallery">Image gallery</a>
      </div>
      <!-- End navigation bar -->

