body {
  font-family: sans;
  margin-left: 3%;
  margin-right: 3%;
}

.default-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title     title"
    "navbar    navbar"
    "content   content"
    "tags      outbound-links"
    "edit-tags edit-tags";
  justify-content: start;
  gap: 6pt;
  width: 100%;
}

h1#title { grid-area: title; }

.header {
    font-weight: bold;
}


/* Nav-bar */

.navbar {
  grid-area: navbar;
  /* What goes inside it */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 50px;
  justify-content: start;
  background-color: #888888;
  margin-bottom: 12pt;
}

.nav-item-1 {
  grid-column: 1;
  color: white;
  text-decoration: none;
}

.nav-item-2 {
  grid-column: 2;
  color: white;
  text-decoration: none;
}

.nav-item-3 {
  grid-column: 3;
  color: white;
  text-decoration: none;
}

.nav-item-4 {
  grid-column: 4;
  color: white;
  text-decoration: none;
}

.nav-item-5 {
  grid-column: 5;
  color: white;
  text-decoration: none;
}

.nav-item-6 {
  grid-column: 6;
  color: white;
  text-decoration: none;
}
/* End of nav-bar section */

.content-relforms {
  /* Where within the parent grid */
  grid-area: content;
  /* What goes inside it */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 5px;
  grid-column-gap: 20px;
  justify-content: start;
  align-content: start;
}

.content {
  /* Where within the parent grid */
  grid-area: content;
}

.content-wikipage {
  /* Where within the parent grid */
  grid-area: content;
}

.content-default {
  /* Where within the parent grid */
  grid-area: content;
  /* What goes inside it */
  justify-content: start;
}

div.task-grid {
  /* Where within the parent grid */
  grid-area: content;
  /* What goes inside it */
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  align-content: start;
  justify-content: start;
}


