/* Title and attributes */
.title-attributes {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.attrnames {
  font-weight: bold;
  vertical-align: top;
}

.attrvals {
  font-weight: normal;
  vertical-align: top;
}
/* End of attributes section */


/* Tags and outbound links section */

.page-bottom-title {
  background-color: #dddddd;
  /* Reduce the space before its content */
  margin-bottom: 0;
}

.page-bottom-list {
  /* No dot-markers */
  list-style-type: none;
  /* Don't indent the list */
  padding: 0;
}

div#tags {
  grid-area: tags;
}

div#outbound-links {
  grid-area: outbound-links;
}

div#edit-tags {
  grid-area: edit-tags;
  background-color: #888888;
}

a#edit-tags {
  color: white;
  text-decoration: none;
}

/* End of tags and outbound links section */
