/* Title and attributes */
.title-attributes {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.attrnames {
  font-weight: bold;
  vertical-align: top;
}

.attrvals {
  font-weight: normal;
  vertical-align: top;
}
/* End of attributes section */


/* Tags, groups and outbound links section */

.page-bottom-title {
  background-color: #dddddd;
  /* Reduce the space before its content */
  margin-bottom: 0;
}

.page-bottom-list {
  /* No dot-markers */
  list-style-type: none;
  /* Don't indent the list */
  padding: 0;
}

/* Tags */
h2#tags_header {
  grid-row: 4;
  grid-column: 1;
}

ul#taglist {
  grid-row: 5;
  grid-column: 1;
}
/* End tags */


/* Groups */
h2#groups_header {
  grid-row: 4;
  grid-column: 2;
}

ul#grouplist {
  grid-row: 5;
  grid-column: 2;
}
/* End groups */


/* Outbound links */
h2#outbound_links {
  grid-row: 6;
  grid-column: 1 / span 2;
}

ul#outbound_links {
  grid-row: 7;
  grid-column: / span 2;
}
/* End of outbound links */

div#taglink {
  grid-row: 8;
  grid-column: 1 / span 2;
  background-color: #888888;
}

a#taglink {
  color: white;
  text-decoration: none;
}

/* End of tags, groups and outbound links section */


/* Gallery page section */
img.gallery-image {
  max-width: 160px;
}
/* End of gallery page section */
