/* Edit-membership form */
div#edit-membership {
  grid-row: 4;
  grid-column: 1;
  display: grid;
  justify-content: start;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}

div#add_tags {
  grid-row: 1;
  grid-column: 1;
}

div#remove_tags {
  grid-row: 1;
  grid-column: 2;
}

div#add_groups {
  grid-row: 2;
  grid-column: 1;
}

div#remove_groups {
  grid-row: 2;
  grid-column: 2;
}

input#update_membership {
  grid-row: 4;
  grid-column: 1 / span 2;
  margin: 50px
}
/* End edit-membership form */

div#link-resources {
  grid-row 3;
  grid-column: 1 / span 2;
}

input#resource_links {
  width: 100%;
}
