/* Attributes */
.formgrid {
  /* Where within the parent grid */
  grid-row: 2;
  /* What goes inside it */
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 5px;
  justify-content: start;
}

.title-attributes {
  grid-row: 1;
}

table.attributes {
  grid-column: 1;
}

.attrnames {
  font-weight: bold;
}

.attrvals {
  width: 100%;
}

textarea.attrvals {
  width: 640px;
  height: 80px;
}
/* End of attributes section */

/* Wikipage-specific styling */
.wikititle-title {
  grid-row: 1;
  grid-column: 1;
  font-weight: bold;
}

.wikititle-value {
  grid-row: 1;
  grid-column: 2;
}
/* End of wikipage-specific styling */

#createbutton {
  grid-row: 3;
  grid-column: 1 / span 2;
}
