div#searchbox {
  grid-area: content;
  display: grid;
  grid-template-areas:
  "searchform"
  "results";
}

form.formgrid-search {
  grid-area: searchform;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-areas:
  "types     tags      refine-title refine-title"
  "types     tags      attrnames    attrvals"
  "submit    submit    submit       submit"
}

div#resourcetypes { grid-area: types; }

div#tags { grid-area: tags; }

div#refine-title { grid-area: refine-title; }

div#attrnames { grid-area: attrnames; }

div#attrvals { grid-area: attrvals; }

div#submit { grid-area: submit; }

input#searchbutton { width: 100%; }

div#searchresults { grid-area: results; }

.results-list {
  /* No dot-markers */
  list-style-type: none;
  /* Don't indent the list */
  padding: 0;
}
