#searchform {
    grid-row 4;
}

#header-resourcetypes {
    grid-row 1;
    grid-column: 1;
}

#resourcetype {
    grid-row: 2;
    grid-column: 1;
}

#header-tags {
    grid-row 1;
    grid-column: 2;
}

#tags {
    grid-row: 2;
    grid-column: 2;
}

#header-refinesearch {
    grid-row: 1;
    grid-column: 3 / span 2;
}

.attrnames {
    grid-row: 2;
    grid-column: 3;
}

.attrvals {
    grid-row: 2;
    grid-column: 4;
}

#searchbutton {
    grid-row: 3;
    grid-column: 1 / span 4;
}


/* List of search results */

#searchresults {
    grid-row: 5;
}

.results-list {
  /* No dot-markers */
  list-style-type: none;
  /* Don't indent the list */
  padding: 0;
}
