/* Search-criteria form */

/* Headers for the form */
div#tags-header {
  grid-row: 1;
  grid-column: 1;
  margin-right: 12pt;
  font-weight: bold;
}

div#criteria-header {
  grid-row 1;
  grid-column: 2 / span 2;
  margin-left: 12pt;
  font-weight: bold;
}

/* List of available tags */
div#tags-list {
  grid-row: 2 / span 5;
  grid-column: 1;
  margin-right: 12pt;
}


/* Table of search criteria */
div.criteria-name {
  vertical-align: top;
  grid-column: 2;
  margin-left: 12pt;
}

div.criteria-value {
  vertical-align: top;
  grid-column: 3;
}


div#uid-regex-name {
  grid-row: 2;
}

div#uid-regex-value {
  grid-row: 2;
  width: 100%;
}

div#importance-name {
  grid-row: 3;
}

div#importance-value {
  grid-row: 3;
}

div#urgency-name {
  grid-row: 4;
}

div#urgency-value {
  grid-row: 4;
}

div#scale-name {
  grid-row: 5;
}

div#scale-value {
  grid-row: 5;
}

div#status-name {
  grid-row: 6;
}

div#status-value {
  grid-row: 6;
}
/* End of table of search criteria */

/* Submit-button layout */
div#submit-row {
  grid-row: 7;
  grid-column: 1 / span 5;
  width: 100%
}

#searchbutton {
  margin: auto;
  align: center;
  width: 100%;
}

/* End of search-criteria form */


/* List of search results */
#searchresults {
  grid-row: 4;
  grid-column: 1 / span 2;
}

ul.results-list {
  /* No dot-markers */
  list-style-type: none;
  /* Don't indent the list */
  padding: 0;
}

table.results-list {
  border-spacing: 5px;
}
