div#searchbox {
  grid-area: content;
  display: grid;
  grid-template-areas:
  "searchform"
  "results";
}

form.formgrid-tasks {
  grid-area: searchform;
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 6px;
  column-gap: 12px;
  grid-template-areas:
  "tags-title   refine-title    refine-title      blank"
  "tags         regex-name      regex-value       blank"
  "tags         importance-name importance-value  blank"
  "tags         urgency-name    urgency-value     blank"
  "tags         scale-name      scale-value       blank"
  "tags         status-name     status-value      blank"
  "submit       submit          submit            blank"
}

div#tags-title {
  grid-area: tags-title;
  font-weight: bold;
}

div#tags-list {
  grid-area: tags;
}

div#refine-title {
  grid-area: refine-title;
  font-weight: bold;
}

div#uid-regex-name { grid-area: regex-name; }
div#uid-regex-value { grid-area: regex-value; }
div#importance-name { grid-area: importance-name; }
select#importance-value { grid-area: importance-value; }
div#urgency-name { grid-area: urgency-name; }
select#urgency-value { grid-area: urgency-value; }
div#scale-name { grid-area: scale-name; }
select#scale-value { grid-area: scale-value; }
div#status-name { grid-area: status-name; }
select#status-value { grid-area: status-value; }
div#submit-row { grid-area: submit; }

/* Table of search criteria */
div.criteria-name {
  vertical-align: top;
}

.criteria-value {
  vertical-align: top;
}

div#uid-regex-value { width: 100%; }

/* End of table of search criteria */

#searchbutton {
  margin: auto;
  align: center;
  width: 100%;
}

ul.results-list {
  /* No dot-markers */
  list-style-type: none;
  /* Don't indent the list */
  padding: 0;
}

table.results-list {
  border-spacing: 5px;
}
