.uploadform {
  grid-area: content;
  display: grid;
  grid-template-columns: auto, 1fr;
  grid-template-areas:
    "filename-title filename"
    "file-title     file"
    "submit         submit";
  justify-content: start;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

div#filename-title { grid-area: filename-title; }
input#filename { grid-area: filename; }

div#filetitle {grid-area: file-title; }
input#file { grid-area: file; }

div#submit { grid-area: submit; }
